@import url('https://unpkg.com/chota@0.8.1');

:root {
    --bg-color: #DDE6ED;
    --bg-secondary-color: #9DB2BF;
    --color-primary: #5D9C59;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #DF2E38;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #27374D;
    --font-family-sans: sans-serif;
    --font-family-mono: monospace;
}
body.dark {
    --bg-color: #000;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
}