@import url('bamboo.css');
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header,footer{
 color:white;
 text-align: center;
 background: #4568DC;
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #B06AB3, #4568DC);
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #B06AB3, #4568DC);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header a, footer a{
 color: white;
 text-decoration: underline;
}


/* contact card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card-title {
    color: grey;
    font-size: 18px;
}

.card-icon{
    height: 1.5em;
    width: auto;
    margin: 0.5em;
}